In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import numpy as np
from scipy.stats import pearsonr

#### GRADE 4 MATH NAEP

In [19]:
gr_4_math_disadv = pd.read_excel('../data/gr_4_math_disadv_naep_raw.xls', engine ="xlrd")

In [20]:
gr_4_math_disadv = gr_4_math_disadv.iloc[8:1724]
gr_4_math_disadv

           Unnamed: 1                      Unnamed: 2  Unnamed: 3
8     2024   National      Economically disadvantaged  225.900042
9     2024   National  Not economically disadvantaged  251.116925
10    2024   National       Information not available  238.867606
11    2024    Alabama      Economically disadvantaged  226.364364
12    2024    Alabama  Not economically disadvantaged  254.750537
...    ...        ...                             ...         ...
1719  2003  Wisconsin  Not economically disadvantaged  244.067476
1720  2003  Wisconsin       Information not available  241.506041
1721  2003    Wyoming      Economically disadvantaged  232.987016
1722  2003    Wyoming  Not economically disadvantaged   246.08703
1723  2003    Wyoming       Information not available  226.827991

[1716 rows x 4 columns]

In [24]:
gr_4_math_disadv.columns = ['Year', 'State', 'Econ_Disadv_Status', 'Avg_Scale_Score']

gr_4_math_disadv = gr_4_math_disadv[gr_4_math_disadv['Econ_Disadv_Status'] != 'Information not available']

In [25]:
gr_4_math_disadv['Avg_Scale_Score'] = gr_4_math_disadv['Avg_Scale_Score'].replace('‡', np.nan)

C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\1966732075.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gr_4_math_disadv['Avg_Scale_Score'] = gr_4_math_disadv['Avg_Scale_Score'].replace('‡', np.nan)

In [26]:

gr_4_math_disadv['Year'] = gr_4_math_disadv['Year'].astype(int)
gr_4_math_disadv['Avg_Scale_Score'] = gr_4_math_disadv['Avg_Scale_Score'].astype(float)


gr_4_math_disadv['Avg_Scale_Score'] = gr_4_math_disadv['Avg_Scale_Score'].round(1)


gr_4_math_disadv = gr_4_math_disadv.reset_index(drop=True)

In [27]:
gr_4_math_disadv

      Year          State              Econ_Disadv_Status  Avg_Scale_Score
0     2024       National      Economically disadvantaged            225.9
1     2024       National  Not economically disadvantaged            251.1
2     2024        Alabama      Economically disadvantaged            226.4
3     2024        Alabama  Not economically disadvantaged            254.8
4     2024         Alaska      Economically disadvantaged            213.4
...    ...            ...                             ...              ...
1139  2003  West Virginia  Not economically disadvantaged            237.4
1140  2003      Wisconsin      Economically disadvantaged            221.3
1141  2003      Wisconsin  Not economically disadvantaged            244.1
1142  2003        Wyoming      Economically disadvantaged            233.0
1143  2003        Wyoming  Not economically disadvantaged            246.1

[1144 rows x 4 columns]

In [50]:
gr_4_math_disadv.to_csv("../data/gr_4_math_disadv_naep_clean.csv", index=False)

#### GRADE 4 READING NAEP

In [28]:
gr_4_reading_disadv = pd.read_excel('../data/gr_4_reading_disadv_naep_raw.xls', engine ="xlrd")

In [29]:
gr_4_reading_disadv = gr_4_reading_disadv.iloc[8:1724]

In [30]:
gr_4_reading_disadv

           Unnamed: 1                      Unnamed: 2  Unnamed: 3
8     2024   National      Economically disadvantaged  202.017077
9     2024   National  Not economically disadvantaged  229.213481
10    2024   National       Information not available  222.321263
11    2024    Alabama      Economically disadvantaged   202.04417
12    2024    Alabama  Not economically disadvantaged  232.047571
...    ...        ...                             ...         ...
1719  2003  Wisconsin  Not economically disadvantaged  227.520188
1720  2003  Wisconsin       Information not available  220.176977
1721  2003    Wyoming      Economically disadvantaged  211.729878
1722  2003    Wyoming  Not economically disadvantaged  228.330923
1723  2003    Wyoming       Information not available  203.322669

[1716 rows x 4 columns]

In [31]:
gr_4_reading_disadv.columns = ['Year', 'State', 'Econ_Disadv_Status', 'Avg_Scale_Score']

gr_4_reading_disadv = gr_4_reading_disadv[gr_4_reading_disadv['Econ_Disadv_Status'] != 'Information not available']

In [32]:
gr_4_reading_disadv['Avg_Scale_Score'] = gr_4_reading_disadv['Avg_Scale_Score'].replace('‡', np.nan)

C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\4104052645.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gr_4_reading_disadv['Avg_Scale_Score'] = gr_4_reading_disadv['Avg_Scale_Score'].replace('‡', np.nan)
C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\4104052645.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_4_reading_disadv['Avg_Scale_Score'] = gr_4_reading_disadv['Avg_Scale_Score'].replace('‡', np.nan)

In [33]:

gr_4_reading_disadv['Year'] = gr_4_reading_disadv['Year'].astype(int)
gr_4_reading_disadv['Avg_Scale_Score'] = gr_4_reading_disadv['Avg_Scale_Score'].astype(float)

gr_4_reading_disadv['Avg_Scale_Score'] =gr_4_reading_disadv['Avg_Scale_Score'].round(1)

gr_4_reading_disadv = gr_4_reading_disadv.reset_index(drop=True)

C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\4238527835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_4_reading_disadv['Year'] = gr_4_reading_disadv['Year'].astype(int)
C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\4238527835.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_4_reading_disadv['Avg_Scale_Score'] = gr_4_reading_disadv['Avg_Scale_Score'].astype(float)
C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\4238527835.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_4_reading_disadv['Avg_Scale_Score'] =gr_4_reading_disadv['Avg_Scale_Score'].round(1)

In [34]:
gr_4_reading_disadv

      Year          State              Econ_Disadv_Status  Avg_Scale_Score
0     2024       National      Economically disadvantaged            202.0
1     2024       National  Not economically disadvantaged            229.2
2     2024        Alabama      Economically disadvantaged            202.0
3     2024        Alabama  Not economically disadvantaged            232.0
4     2024         Alaska      Economically disadvantaged            188.9
...    ...            ...                             ...              ...
1139  2003  West Virginia  Not economically disadvantaged            227.6
1140  2003      Wisconsin      Economically disadvantaged            205.3
1141  2003      Wisconsin  Not economically disadvantaged            227.5
1142  2003        Wyoming      Economically disadvantaged            211.7
1143  2003        Wyoming  Not economically disadvantaged            228.3

[1144 rows x 4 columns]

In [53]:
gr_4_reading_disadv.to_csv("../data/gr_4_reading_disadv_naep_clean.csv", index=False)

#### GRADE 8 READING

In [35]:
gr_8_reading_disadv = pd.read_excel('../data/gr_8_reading_disadv_naep_raw.xls', engine ="xlrd")

In [36]:
gr_8_reading_disadv = gr_8_reading_disadv.iloc[8:1724]

In [37]:
gr_8_reading_disadv

           Unnamed: 1                      Unnamed: 2  Unnamed: 3
8     2024   National      Economically disadvantaged  244.616378
9     2024   National  Not economically disadvantaged     269.528
10    2024   National       Information not available  272.252097
11    2024    Alabama      Economically disadvantaged  239.272408
12    2024    Alabama  Not economically disadvantaged  268.138653
...    ...        ...                             ...         ...
1719  2003  Wisconsin  Not economically disadvantaged  272.213038
1720  2003  Wisconsin       Information not available  273.108673
1721  2003    Wyoming      Economically disadvantaged  255.370603
1722  2003    Wyoming  Not economically disadvantaged  271.517807
1723  2003    Wyoming       Information not available           ‡

[1716 rows x 4 columns]

In [38]:
gr_8_reading_disadv.columns = ['Year', 'State', 'Econ_Disadv_Status', 'Avg_Scale_Score']

gr_8_reading_disadv = gr_8_reading_disadv[gr_8_reading_disadv['Econ_Disadv_Status'] != 'Information not available']

In [39]:
gr_8_reading_disadv['Avg_Scale_Score'] = gr_8_reading_disadv['Avg_Scale_Score'].replace('‡', np.nan)

C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\1309897930.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gr_8_reading_disadv['Avg_Scale_Score'] = gr_8_reading_disadv['Avg_Scale_Score'].replace('‡', np.nan)
C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\1309897930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_8_reading_disadv['Avg_Scale_Score'] = gr_8_reading_disadv['Avg_Scale_Score'].replace('‡', np.nan)

In [40]:
gr_8_reading_disadv['Year'] = gr_8_reading_disadv['Year'].astype(int)
gr_8_reading_disadv['Avg_Scale_Score'] = gr_8_reading_disadv['Avg_Scale_Score'].astype(float)

gr_8_reading_disadv['Avg_Scale_Score'] =gr_8_reading_disadv['Avg_Scale_Score'].round(1)

gr_8_reading_disadv = gr_8_reading_disadv.reset_index(drop=True)

C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\3718325568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_8_reading_disadv['Year'] = gr_8_reading_disadv['Year'].astype(int)
C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\3718325568.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_8_reading_disadv['Avg_Scale_Score'] = gr_8_reading_disadv['Avg_Scale_Score'].astype(float)
C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\3718325568.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_8_reading_disadv['Avg_Scale_Score'] =gr_8_reading_disadv['Avg_Scale_Score'].round(1)

In [41]:
gr_8_reading_disadv

      Year          State              Econ_Disadv_Status  Avg_Scale_Score
0     2024       National      Economically disadvantaged            244.6
1     2024       National  Not economically disadvantaged            269.5
2     2024        Alabama      Economically disadvantaged            239.3
3     2024        Alabama  Not economically disadvantaged            268.1
4     2024         Alaska      Economically disadvantaged            234.6
...    ...            ...                             ...              ...
1139  2003  West Virginia  Not economically disadvantaged            267.3
1140  2003      Wisconsin      Economically disadvantaged            244.0
1141  2003      Wisconsin  Not economically disadvantaged            272.2
1142  2003        Wyoming      Economically disadvantaged            255.4
1143  2003        Wyoming  Not economically disadvantaged            271.5

[1144 rows x 4 columns]

In [52]:
gr_8_reading_disadv.to_csv("../data/gr_8_reading_disadv_naep_clean.csv", index=False)

#### GRADE 8 MATH NAEP

In [43]:
gr_8_math_disadv = pd.read_excel('../data/gr_8_math_disadv_naep_raw.xls', engine ="xlrd")

In [44]:
gr_8_math_disadv = gr_8_math_disadv.iloc[8:1724]

In [45]:
gr_8_math_disadv

           Unnamed: 1                      Unnamed: 2  Unnamed: 3
8     2024   National      Economically disadvantaged  257.463756
9     2024   National  Not economically disadvantaged  287.971797
10    2024   National       Information not available  290.107404
11    2024    Alabama      Economically disadvantaged  249.562501
12    2024    Alabama  Not economically disadvantaged   284.14793
...    ...        ...                             ...         ...
1719  2003  Wisconsin  Not economically disadvantaged  291.988901
1720  2003  Wisconsin       Information not available  285.352112
1721  2003    Wyoming      Economically disadvantaged  270.839011
1722  2003    Wyoming  Not economically disadvantaged  288.097829
1723  2003    Wyoming       Information not available           ‡

[1716 rows x 4 columns]

In [46]:
gr_8_math_disadv.columns = ['Year', 'State', 'Econ_Disadv_Status', 'Avg_Scale_Score']

gr_8_math_disadv = gr_8_math_disadv[gr_8_math_disadv['Econ_Disadv_Status'] != 'Information not available']

In [47]:
gr_8_math_disadv['Avg_Scale_Score'] = gr_8_math_disadv['Avg_Scale_Score'].replace('‡', np.nan)

C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\1707361003.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gr_8_math_disadv['Avg_Scale_Score'] = gr_8_math_disadv['Avg_Scale_Score'].replace('‡', np.nan)
C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\1707361003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_8_math_disadv['Avg_Scale_Score'] = gr_8_math_disadv['Avg_Scale_Score'].replace('‡', np.nan)

In [48]:
gr_8_math_disadv['Year'] = gr_8_math_disadv['Year'].astype(int)
gr_8_math_disadv['Avg_Scale_Score'] = gr_8_math_disadv['Avg_Scale_Score'].astype(float)

gr_8_math_disadv['Avg_Scale_Score'] =gr_8_math_disadv['Avg_Scale_Score'].round(1)

gr_8_math_disadv = gr_8_math_disadv.reset_index(drop=True)

C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\1484019690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_8_math_disadv['Year'] = gr_8_math_disadv['Year'].astype(int)
C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\1484019690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_8_math_disadv['Avg_Scale_Score'] = gr_8_math_disadv['Avg_Scale_Score'].astype(float)
C:\Users\mersi\AppData\Local\Temp\ipykernel_45464\1484019690.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_8_math_disadv['Avg_Scale_Score'] =gr_8_math_disadv['Avg_Scale_Score'].round(1)

In [49]:
gr_8_math_disadv

      Year          State              Econ_Disadv_Status  Avg_Scale_Score
0     2024       National      Economically disadvantaged            257.5
1     2024       National  Not economically disadvantaged            288.0
2     2024        Alabama      Economically disadvantaged            249.6
3     2024        Alabama  Not economically disadvantaged            284.1
4     2024         Alaska      Economically disadvantaged            248.5
...    ...            ...                             ...              ...
1139  2003  West Virginia  Not economically disadvantaged            279.5
1140  2003      Wisconsin      Economically disadvantaged            258.7
1141  2003      Wisconsin  Not economically disadvantaged            292.0
1142  2003        Wyoming      Economically disadvantaged            270.8
1143  2003        Wyoming  Not economically disadvantaged            288.1

[1144 rows x 4 columns]

In [51]:
gr_8_math_disadv.to_csv("../data/gr_8_math_disadv_naep_clean.csv", index=False)